doctype transitional
html(xmlns="http://www.w3.org/1999/xhtml")
  head
    meta(http-equiv="Content-Type" content="text/html;charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(content="telephone=no" name="format-detection")
    meta(name="x-apple-disable-message-reformatting")
    title HTML Academy: PlayHTML. Акция
    style(type="text/css")
      include includes/globals.css
  body(style="width:100%;padding:0;Margin:0;font-family:'trebuchet ms',tahoma,sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;font-size:16px;line-height:normal;color:#000000;background-color:#ffffff;")
    div(style="background-color:#F6F6F6;")
      <!--[if gte mso 9]>
        <v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
          <v:fill type="tile" color="#ffffff;"></v:fill>
        </v:background>
      <![endif]-->
      table(cellspacing="0" cellpadding="0" border="0" width="100%")
        tr
          td
            include includes/header.html
            include includes/hero.html
            include includes/courses.html
            include includes/review.html
            include includes/popular.html
            include includes/advantages.html
            include includes/footer.html
