doctype transitional
html(xmlns="http://www.w3.org/1999/xhtml")
  head
    meta(http-equiv="Content-Type" content="text/html;charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(content="telephone=no" name="format-detection")
    meta(name="x-apple-disable-message-reformatting")
    title HTML Academy: PlayHTML. Приглашение на курс
    style(type="text/css")
      include includes/globals.css
  body(style="width:100%;padding:0;Margin:0;font-family:'trebuchet ms',tahoma,sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;font-size:16px;line-height:19px;color:#000000;background-color:#ffffff;")
    div(style="margin:0;color:#FFFFFF;display:none !important;font-family:tahoma,sans-serif;font-size:1px;line-height:0;")
      | HTML Academy: PlayHTML. Приглашение на курс
    div(style="background-color:#F6F6F6;")
      <!--[if gte mso 9]>
        <v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
          <v:fill type="tile" color="#f6f6f6;"></v:fill>
        </v:background>
      <![endif]-->
      table(width="100%" align="center" border="0" cellspacing="0" cellpadding="0")
        tr
          td
            include includes/header.html
            include includes/hero.html
            include includes/schedule.html
            include includes/host.html
            include includes/prizes.html
            include includes/footer.html
