.link:hover {
  text-decoration: underline !important;
}

.default-link:hover {
  text-decoration: none !important;
}

@media screen and (max-width: 599px) {
  .container {
    width: 100% !important;
    min-width: 320px !important;
  }

  .column {
    width: 100% !important;
    float: none !important;
  }

  .desktop-only {
    display: none;
  }
}
